<!--
DESCRITPION
-->


<launch>
        <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
		<param name="destination_frame" value="/base_link"/>
		<param name="cloud_destination_topic" value="/merged_cloud"/>
		<param name="scan_destination_topic" value="/sIA_merged_laser"/>
                <param name="laserscan_topics" value ="/sIA_laser_srdf/laser_scan  /sIA_laser_srdl/laser_scan /sIA_laser_srdr/laser_scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
	</node>
</launch>
