<launch>
	
	<arg name="eta" value="1.0"/>
	<arg name="Geta" value="15.0"/>



	<!-- La informacion de salida de ira_laser_tools va al nodo de Gmapping -->
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<remap from="scan" to="/sIA_merged_laser" />
    <param name="maxRange" value="1.5" />
    <param name="particles" value="100" />
		<param name="map_update_interval" value="0.1"/>
		<param name="linearUpdate" value="0.0" />
		<param name="angularUpdate" value="0.0" />
	</node>
</launch>

<!--Terminal1: ./robot_toolkit 172.20.10.2-->

<!--Terminal2: rostopic pub /sIA_stream_from std_msgs/String "sIA_laser_srdf.laser_scan.ON"-->
<!--Terminal3: rostopic pub /sIA_stream_from std_msgs/String "sIA_laser_srdl.laser_scan.ON"-->
<!--Terminal4: rostopic pub /sIA_stream_from std_msgs/String "sIA_laser_srdr.laser_scan.ON"-->

<!--Terminal5: roslaunch sinfonia_pepper_tools_navigation sIA_NavigationTools.launch-->
